@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }


.header {
	width:100%;
	position:relative;
	background: url("../images/bg-placeholder.jpg") no-repeat center center;
	background-size: cover;
	padding: 6em 0em;
}

.tag-line {
	display: block;
	letter-spacing: .25px;
}

.logo-wrapper {
  margin: 0;
  padding: 0;
	 a{
	  height: 110px;
	  width: 100px;
	  position: absolute;
	  left: 20px;
	  top: 20px;
	  background: url("../images/logo.svg") no-repeat center center;
	  background-size: 100px auto;
	}
}

.header h3 {
	text-align: center;
	margin: 0 auto;
	color: $light-grey;
	text-shadow: 2px 2px 2px $black;
}

.videoWrapper {
  position: relative;
  height: 0;
  overflow: hidden;
  /* @editable properties */
  padding-top: 30px;
  padding-bottom: 56.25%; /* 16/9 ratio */
  /*background: #000;*/
	& iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* @editable properties */
    box-shadow: 0 0 8px rgba(0, 0, 0, .6);
	}
	& video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: contain;
		margin: 0 auto;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
}

@media only screen and (max-width: 600px) {

	.header h3 {
		display:block;
		visibility: hidden;
	}

	// Toggle Nav

	.hb-toggle{
		background: transparent;
		height: 26px;
		width: 30px;
		padding: .65em 0em;
		top: 1em;
		right: 1em;
		position:absolute;
		z-index:1000;
	}

	.hb-toggle span,
	.hb-toggle span:before,
	.hb-toggle span:after {

	  position: absolute;
	  border-radius: 1px;
	  height: 5px;
	  width: 30px;
	  background-color: $light-green;
	  display: block;
	  content: '';
	  transition: all 250ms ease-in-out;

	}

	.hb-toggle span:before {
		top:-10px;
	}

	.hb-toggle span:after {
		bottom:-10px;
	}

	.hb-toggle.expand span {
		background-color: transparent;
	}

	.hb-toggle.expand span:before,
	.hb-toggle.expand span:after {
		top: 0;
	}

	.hb-toggle.expand span:before {
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.hb-toggle.expand span:after {
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

// Navigation Overlay

	.no-scroll {
		overflow:hidden;
	}

	.top-nav ul {
		position: fixed;
		opacity: 0;
		background-color: $dark-grey;
		height: 100vh;
		width:100%;
		top:0em;
		z-index:999;
			li {
				width: 100%;
				text-align: center;
			}
			li:first-child {
				margin-top: 6em;
			}
			a {
				color: $light-grey;
				text-align:center;
				border-bottom: none;
				letter-spacing: 1px;
			}
	}

	.top-nav[data-state="expand"] ul {
		opacity: .9;
	}

}

// Big Screen Navigation Styling

.top-nav ul {
	@include zero;
	@include ease(all, 250ms, linear);
	font-size: 0;
	position: absolute;
	bottom: 0;
	text-align: center;
	display:block;
			li {
			font-size: 1.25rem;
			letter-spacing: 1px;
			border-right: 2px solid $black;
			&:last-child {
				border-right:none;
			}
			a {
				@include ease(all, 250ms, linear);
				border-bottom:none;
				color: $light-grey;
				padding: 1em 0;
				width:100%;
				display:block;
				background-color:$dark-grey;
				opacity: .9;
			&:hover {
				background-color: $black;
				opacity:1;
				}
			}
		}
}

// Bottom Navigation



.bottom-nav ul {
	@include zero;
	font-size: 0;
	background-color: $dark-grey;
	margin: 0 auto;
	li {
		font-size: 1rem;
		padding-bottom: 2em;
		text-align: center;
		ul li{
		 padding : .5rem 0;
			a{
				padding:0;
			}
		}
	}
	a {
		@include ease(all, 250ms, linear);
		padding: 2.5em 0 .5em 0;
		margin: 0 auto;
		border-bottom: none;
		color: $light-green;
		display:block;
		&:hover {
			opacity: .6;
		}
	}
}


@media only screen and (max-width: 600px) {

	.bottom-nav ul {
		@include zero;
		font-size: 0;
		display: block;
		background-color : $dark-grey;
		li {
			font-size:1rem;
			ul li{
					padding : .5rem;
				a{
					padding:0;
				}
			}
		}
		a {
			@include ease(all, 250ms, linear);
			padding: 2.5em 0 .5em 0;
			display:block;
			width: 100%;
			text-align: center;
			&:hover {
				opacity:.6;
			}
		}
	}
}

/* — — — — DONATIONS — — — — */

.wrap {
	display:block;
	overflow: hidden;
}

.donations {
	clear: both;
	display: block;
	overflow: hidden;
}

.donate-button {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	display: inline-block;
	float: left;
	position: relative;
	height: 13rem;
	overflow: hidden;
	background-color: #f7f7f7; 
	@include ease(all, 250ms, linear);
	h3 {
		width: 100%;
		text-align: center;
		margin: 0;
		font-size: 4rem;
		font-weight: 100;
		position: absolute;
		top: 27.5%;
		@include ease(all, 150ms, ease-in);
		}
	p {
		transform: translateY(210px);
		text-align: center;
		vertical-align: middle;
		@include ease(all, 200ms, ease-out);
		opacity: 0;
	}
	input {
		height: 13rem;
		border: none;
		padding: 1.5rem;
		font-size: 4rem;
		font-weight: 300;
		margin: 0;
	}
	input[type="number"] {
		display: block;
		margin: 0;
		width: 100%;
		background-color : #f7f7f7;
		color: $dark-grey;
		font-family: 'Roboto', sans-serif;
		font-size: 4rem;
		font-weight: 100;
		text-align: right;			
		&:focus {
			outline: 1px solid $green;
		}
	}	
	input[type=radio] {
		opacity: 0;
		position: absolute;
		top: 0;
		left: -20px; /* pushes off radio button */
		width: 100%;
		display: block;
		margin-right: 20px;
		overflow: visible; /* HOW DOES THIS EVEN FIX IT? BUT IT WORKS?! */
	}
	input[type=radio]:checked {
		opacity: 1;
		@include ease(all, 150ms, ease-in);
		transform: translateY(9.75rem);
		height: 3.25rem;
	
	}
	input[type=radio]:checked:before {
		content: 'Selected';
		position: absolute;
		top: 0px;
		left: 0px;
		margin-left: 20px; /*compensates from being moved left */
		display: block;
		padding: 0 0 4rem 25%;
		width: 100%;
		background-color: rgba(119,201,81,1);
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		color: $light-grey;
		font-size: 1.75rem;
		line-height: 3.25rem; /* to compensate for the height of the box */
		@media only screen and (max-width: 25em) { /* — — — — — XSMALL Screens — — — — — */
			padding: 0 0 0rem 31%;
		}		
		@media only screen and (min-width: 25em) { /* — — — — — SMALL to LARGE Screens — — — — — */
			padding: 0 0 0rem 38%;
		}
		@media only screen and (min-width: 90em) { /* — — — — —XLARGE Screens — — — — — */
			padding: 0 0 0rem 36.5%;
		}
	}
	::-webkit-input-placeholder {
		color: #A1A1A1;
		font-family: 'Roboto', sans-serif;
		font-size: 4rem;
		font-weight: 100;
		text-align: center;
	}
	::-moz-placeholder { 
		color: #A1A1A1;
		font-family: 'Roboto', sans-serif;
		font-size: 4rem;
		font-weight: 100;
		text-align: center;
	}
	:-moz-placeholder { 
		color: #A1A1A1;
		font-family: 'Roboto', sans-serif;
		font-size: 4rem;
		font-weight: 100;
		text-align: center;
	}
	:-ms-input-placeholder {
		color: #A1A1A1;
		font-family: 'Roboto', sans-serif;
		font-size: 4rem;
		font-weight: 100;
		text-align: center;
	}
	&:hover {
		cursor: pointer;
		h3 {
			color: $light-grey;
			transform: translateY(-5px);
			font-size: 2.5rem;
			font-weight: 700;
		}
		p {
			color: $light-grey;
			transform: translateY(105px);
			opacity: 1;
		}
	background: $green;
	}
}

textarea {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding: .5rem;
	font-size: 1.25rem;
	width: 100%;
	margin-top: .5rem;
	background-color: $light-grey;
	border: none;
}

.dedication {
	position: relative;
	height: 3.75rem;
	float: left;
	label {
		width: 100%;
		font-size: 1rem;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		line-height: 2rem;
	}
	input[type="text"],
	input[type="email"] {
		float: right;
		height: 2rem;
		border: none;
		width: 100%;
		overflow: auto;
		padding-left: 1rem;
		font-family: 'Roboto', sans-serif;
		font-size: 1rem;
		font-weight: 300;
		background-color: $light-grey;
		&:focus {
			outline: 1px solid $green;
		}
	}
	@media only screen and (min-width: 25em) { /* — — — — — Up to SMALL Screens — — — — — */
		label {
			width: 35%;
		}
		input[type="text"],
		input[type="email"] {
			width: 65%;
		}
	}
}

@media only screen and (max-width: 25em) { /* — — — — — Up to SMALL Screens — — — — — */
	.mobile {
		width: 90%;
	}
}

@media only screen and (max-width: 38em) { /* — — — — — Up to SMALL Screens — — — — — */
	.mobile {
		width: 95%;
	}
}

.info-box {
	display: inline-block;
	float: left;
	height: 13rem;
	text-align: center;
	padding: 1.75rem;
}

.gigantor-donate-button {
	a, &:visited, &:link {
	color: $light-grey;	
	text-decoration: none;
	border: none;
	border-bottom: 0px solid red;
	font-weight: 300;
	padding-top: 5rem;
	}
	@include ease(all, 200ms, ease-in);
	display: block;
	margin: 0 auto;
	text-align: center;
	background-color: $green;
	height: 13rem;
	&:hover, &:focus, &:active {
		color: $green;
		background-color: $light-green;
		text-shadow: 1px 1px 0px $light-grey;
		font-weight: 700;
	}
	@media only screen and (max-width: 25em) { /* — — — — — Up to SMALL Screens — — — — — */
		a, &:visited, &:link {
			font-size: 1.75rem;
		}
	}
}