@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

body,
html {
	overflow: hidden;
}

.header {
	width:100%;
	position:relative;
	background: url("../images/bg-placeholder.jpg") no-repeat center center;
	background-size: cover;
	padding: 6em 0em;
}

.tag-line {
	display: block;
	letter-spacing: .25px;
}

.logo-wrapper {
  margin: 0;
  padding: 0;
	 a{
	  height: 110px;
	  width: 100px;
	  position: absolute;
	  left: 20px;
	  top: 20px;
	  background: url("../images/logo.svg") no-repeat center center;
	  background-size: 100px auto;
	}
}

.header h3 {
	text-align: center;
	margin: 0 auto;
	color: $light-grey;
	text-shadow: 2px 2px 2px $black;
}

.videoWrapper {
  position: relative;
  height: 0;
  overflow: hidden;
  /* @editable properties */
  padding-top: 30px;
  padding-bottom: 56.25%; /* 16/9 ratio */
  /*background: #000;*/
	& iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* @editable properties */
    box-shadow: 0 0 8px rgba(0, 0, 0, .6);
	}
	& video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: contain;
		margin: 0 auto;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
}

@media only screen and (max-width: 600px) {

	.header h3 {
		display:block;
		visibility: hidden;
	}

	// Toggle Nav

	.hb-toggle{
		background: transparent;
		height: 26px;
		width: 30px;
		padding: .65em 0em;
		top: 1em;
		right: 1em;
		position:absolute;
		z-index:11;
	}

	.hb-toggle span,
	.hb-toggle span:before,
	.hb-toggle span:after {

	  position: absolute;
	  border-radius: 1px;
	  height: 5px;
	  width: 30px;
	  background-color: $light-green;
	  display: block;
	  content: '';
	  transition: all 250ms ease-in-out;

	}

	.hb-toggle span:before {
		top:-10px;
	}

	.hb-toggle span:after {
		bottom:-10px;
	}

	.hb-toggle.expand span {
		background-color: transparent;
	}

	.hb-toggle.expand span:before,
	.hb-toggle.expand span:after {
		top: 0;
	}

	.hb-toggle.expand span:before {
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.hb-toggle.expand span:after {
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

// Navigation Overlay

	.no-scroll {
		overflow:hidden;
	}

	.top-nav ul {
		display:none;
		position: fixed;
		opacity: 0;
		background-color: $dark-grey;
		height: 100vh;
		width:100%;
		margin-top: 5em;
		top:0;
		z-index:0;
			li {
				width: 100%;
				text-align: center;
			}
			li:first-child {
				margin-top: 6em;
			}
			a {
				color: $light-grey;
				text-align:center;
				border-bottom: none;
				letter-spacing: 1px;
				display:none;
			}
	}

	.top-nav[data-state="expand"] ul,
	.top-nav[data-state="expand"] ul li a {
		opacity: .9;
		z-index: 10;
		display:inline-block;
	}

}

// Big Screen Navigation Styling

.top-nav ul {
	@include zero;
	@include ease(all, 250ms, linear);
	font-size: 0;
	display:none;
	position: absolute;
	bottom: 0;
	text-align: center;
	display:block;
			li {
			font-size: 1rem;
			letter-spacing: 1px;
			border-right: 2px solid $black;
			&:last-child {
				border-right:none;
			}
			a {
				@include ease(all, 250ms, linear);
				border-bottom:none;
				color: $light-grey;
				padding: 1em 0;
				width:100%;
				display:none;
				background-color:$dark-grey;
				opacity: .9;
			&:hover {
				background-color: $black;
				opacity:1;
				}
			}
		}
}

// Log In & Register

.top-nav ul li:nth-child(6),
.top-nav ul li:nth-child(7) {
	display: none;
}

.lr-btn {
	position: absolute;
	top: 30px;
	left: calc(100vw - 11em);
	}

.lr-btn a {
	color: #ffffff;
	border-bottom: none;
	letter-spacing: 1px;
}

.lr-btn li:first-child a {
	border-right:2px solid #ffffff;
	margin-right: 1em;
	padding-right: 1em;
}

.lr-btn a:hover {
	opacity: .6;
}

.log-reg-wrapper {
	display:none;
	position: fixed;
	background-color: rgba(#222222, .8);
	top: 0;
	bottom: 0;
	right:0;
	left: 0;
	padding: 30% 20%;
}

.log-reg-form {
	padding: 2em 3em;
	background-color: #ffffff;
	border-radius: 10px;
	width: 100%;
}

.log-reg-form h2 {
	margin: 0 0 .5em 0;
	font-weight:300;
	text-transform: uppercase;
	font-size: 2em;
}

.log-reg-form a:hover {
	opacity: .5;
}

.log-reg-form input[placeholder="Email Address"],
.log-reg-form input[placeholder="password"] {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.log-reg-form input {
	border: 2px solid rgba($dark-grey, .6);
	width: 100%;
	padding: .5em;
	border-radius: 5px;
}

.log-reg-form a {
	border-bottom: 1px solid $light-green;
	color: $light-green;
	font-size: .80em;
}


.log-reg-form input[type="text"]:focus,
.log-reg-form input[type="password"]:focus {
	border: 2px solid rgba($light-green, 1);
}

input:focus {
	outline-offset: 0;
	outline: -webkit-focus-ring-color auto 0px;
}

.log-reg-wrapper[data-state="expand"] {
	display: block;
	z-index: 12;
}

.exit-lr-wrapper {
	position:absolute;
	top: 1em;
	right: 3em;
	padding: 0.65em 0em;
}

.exit-lr span,
.exit-lr span:before,
.exit-lr span:after {
  position: absolute;
  border-radius: 1px;
  height: 5px;
  width: 30px;
  display: block;
  content: '';
  transition: all 250ms ease-in-out;
}

.exit-lr span {
	background-color: transparent;
}

.exit-lr span:before {
	top:0;
	background-color: $light-green;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);

}

.exit-lr span:after {
	bottom:0;
	background-color: $light-green;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}


@media only screen and (max-width: 600px) {
	.lr-btn {
		display: none;
	}

	.top-nav ul li:nth-child(6) {
     border-right: 2px solid #ffffff;
   }

	.top-nav ul li:nth-child(6),
	.top-nav ul li:nth-child(7) {
		display: inline-block;
		width: 35%;
		margin: 0.25em 0;
	}

	.top-nav ul li:nth-child(6) a,
	.top-nav ul li:nth-child(7) a {
		margin: 0;
		padding: 0.35em 0;
		font-size: 0.8em;
	}

	.log-reg-wrapper {
		display:none;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 0 20%;
		background-color: rgba(#fff, 1);
	}

	.log-reg-form {
		width: 100%;
		padding: 10em 10%;
		border-radius: 15px;
		}

	.log-reg-form input {
		width: 100%;
		padding: .5em;
		border-radius: 5px;
	}

	.log-reg-form h2 {
		margin:0;
		margin-bottom: .5em;
		font-weight: 300;
		font-size: 2em;
		text-transform: uppercase;
	}

	.log-reg-form a {
		border-bottom: 1px solid $light-green;
		color: $light-green;
		font-size: .80em;
	}

}

@media only screen and (max-width: 400px) {

	.log-reg-wrapper {
		display:none;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 0 10%;
		background-color: rgba(#fff, 1);
	}

	.log-reg-form {
		width: 100%;
		padding: 10em 10%;
		border-radius: 15px;
		}

	.log-reg-form input {
		width: 100%;
		padding: .5em;
		border-radius: 5px;
	}

	.log-reg-form h2 {
		margin:0;
		margin-bottom: .5em;
		font-weight: 300;
		font-size: 2em;
		text-transform: uppercase;
	}

	.log-reg-form a {
		border-bottom: 1px solid $light-green;
		color: $light-green;
		font-size: .80em;
	}
}

@media only screen and (min-width: 400px) {
	.top-nav ul li:nth-child(6),
	.top-nav ul li:nth-child(7) {
		width: 25%;
	}
}


@media only screen and (min-width: 700px) {
	.log-reg-wrapper {
		padding: 27% 28%;
	}
}

@media only screen and (min-width: 850px) {
	.log-reg-wrapper {
		padding: 22% 32%;
	}
}

@media only screen and (min-width: 900px) {
	.log-reg-wrapper {
		padding: 20% 34%;
	}
}

@media only screen and (min-width: 1000px) {
	.log-reg-wrapper {
		padding: 17% 36%;
	}
}

.top-nav- ul li a {
	display:none;
}



// Bottom Navigation



.bottom-nav ul {
	@include zero;
	font-size: 0;
	background-color: $dark-grey;
	margin: 0 auto;
	li {
		font-size: 1rem;
		padding-bottom: 2em;
		text-align: center;
		ul li{
		 padding : .5rem 0;
			a{
				padding:0;
			}
		}
	}
	a {
		@include ease(all, 250ms, linear);
		padding: 2.5em 0 .5em 0;
		margin: 0 auto;
		border-bottom: none;
		color: $light-green;
		display:block;
		&:hover {
			opacity: .6;
		}
	}
}


@media only screen and (max-width: 600px) {

	.bottom-nav ul {
		@include zero;
		font-size: 0;
		display: block;
		background-color : $dark-grey;
		li {
			font-size:1rem;
			ul li{
					padding : .5rem;
				a{
					padding:0;
				}
			}
		}
		a {
			@include ease(all, 250ms, linear);
			padding: 2.5em 0 .5em 0;
			display:block;
			width: 100%;
			text-align: center;
			&:hover {
				opacity:.6;
			}
		}
	}
}

/* — — — — DONATIONS — — — — */

.wrap {
	display:block;
	overflow: hidden;
}

.donations {
	clear: both;
	display: block;
	overflow: hidden;
}

.donate-button {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	display: inline-block;
	float: left;
	position: relative;
	height: 13rem;
	overflow: hidden;
	background-color: #f7f7f7;
	@include ease(all, 250ms, linear);
	h3 {
		width: 100%;
		text-align: center;
		margin: 0;
		font-size: 4rem;
		font-weight: 100;
		position: absolute;
		top: 27.5%;
		@include ease(all, 150ms, ease-in);
		}
	p {
		transform: translateY(210px);
		text-align: center;
		vertical-align: middle;
		@include ease(all, 200ms, ease-out);
		opacity: 0;
	}
	input {
		height: 13rem;
		border: none;
		padding: 1.5rem;
		font-size: 4rem;
		font-weight: 300;
		margin: 0;
	}
	input[type="number"] {
		display: block;
		margin: 0;
		width: 100%;
		background-color : #f7f7f7;
		color: $dark-grey;
		font-family: 'Roboto', sans-serif;
		font-size: 4rem;
		font-weight: 100;
		text-align: right;
		&:focus {
			outline: 1px solid $green;
		}
	}
	input[type=radio] {
		opacity: 0;
		position: absolute;
		top: 0;
		left: -20px; /* pushes off radio button */
		width: 100%;
		display: block;
		margin-right: 20px;
		overflow: visible; /* HOW DOES THIS EVEN FIX IT? BUT IT WORKS?! */
	}
	input[type=radio]:checked {
		opacity: 1;
		@include ease(all, 150ms, ease-in);
		transform: translateY(9.75rem);
		height: 3.25rem;

	}
	input[type=radio]:checked:before {
		content: 'Selected';
		position: absolute;
		top: 0px;
		left: 0px;
		margin-left: 20px; /*compensates from being moved left */
		display: block;
		padding: 0 0 4rem 25%;
		width: 100%;
		background-color: rgba(119,201,81,1);
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		color: $light-grey;
		font-size: 1.75rem;
		line-height: 3.25rem; /* to compensate for the height of the box */
		@media only screen and (max-width: 25em) { /* — — — — — XSMALL Screens — — — — — */
			padding: 0 0 0rem 31%;
		}
		@media only screen and (min-width: 25em) { /* — — — — — SMALL to LARGE Screens — — — — — */
			padding: 0 0 0rem 38%;
		}
		@media only screen and (min-width: 90em) { /* — — — — —XLARGE Screens — — — — — */
			padding: 0 0 0rem 36.5%;
		}
	}
	::-webkit-input-placeholder {
		color: #A1A1A1;
		font-family: 'Roboto', sans-serif;
		font-size: 4rem;
		font-weight: 100;
		text-align: center;
	}
	::-moz-placeholder {
		color: #A1A1A1;
		font-family: 'Roboto', sans-serif;
		font-size: 4rem;
		font-weight: 100;
		text-align: center;
	}
	:-moz-placeholder {
		color: #A1A1A1;
		font-family: 'Roboto', sans-serif;
		font-size: 4rem;
		font-weight: 100;
		text-align: center;
	}
	:-ms-input-placeholder {
		color: #A1A1A1;
		font-family: 'Roboto', sans-serif;
		font-size: 4rem;
		font-weight: 100;
		text-align: center;
	}
	&:hover {
		cursor: pointer;
		h3 {
			color: $light-grey;
			transform: translateY(-5px);
			font-size: 2.5rem;
			font-weight: 700;
		}
		p {
			color: $light-grey;
			transform: translateY(105px);
			opacity: 1;
		}
	background: $green;
	}
}

textarea {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding: .5rem;
	font-size: 1.25rem;
	width: 100%;
	margin-top: .5rem;
	background-color: $light-grey;
	border: none;
}

.dedication {
	position: relative;
	height: 3.75rem;
	float: left;
	label {
		width: 100%;
		font-size: 1rem;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		line-height: 2rem;
	}
	input[type="text"],
	input[type="email"] {
		float: right;
		height: 2rem;
		border: none;
		width: 100%;
		overflow: auto;
		padding-left: 1rem;
		font-family: 'Roboto', sans-serif;
		font-size: 1rem;
		font-weight: 300;
		background-color: $light-grey;
		&:focus {
			outline: 1px solid $green;
		}
	}
	@media only screen and (min-width: 25em) { /* — — — — — Up to SMALL Screens — — — — — */
		label {
			width: 35%;
		}
		input[type="text"],
		input[type="email"] {
			width: 65%;
		}
	}
}

@media only screen and (max-width: 25em) { /* — — — — — Up to SMALL Screens — — — — — */
	.mobile {
		width: 90%;
	}
}

@media only screen and (max-width: 38em) { /* — — — — — Up to SMALL Screens — — — — — */
	.mobile {
		width: 95%;
	}
}

.info-box {
	display: inline-block;
	float: left;
	height: 13rem;
	text-align: center;
	padding: 1.75rem;
}

.gigantor-donate-button {
	a, &:visited, &:link {
	color: $light-grey;
	text-decoration: none;
	border: none;
	border-bottom: 0px solid red;
	font-weight: 300;
	}
	@include ease(all, 200ms, ease-in);
	display: block;
	margin: 0 auto;
	padding-top: 10%;
	text-align: center;
	background-color: $green;
	height: 13rem;
	&:hover, &:focus, &:active {
		color: $green;
		background-color: $light-green;
		text-shadow: 1px 1px 0px $light-grey;
		font-weight: 700;
	}
}
