@charset "UTF-8";

/* — — — — — BASE SPACING & BASE FONT IMPLEMENTATION — — — — — */

html {
	font-family: 'Roboto', sans-serif; /* ! — ! VARIABLE ! — ! */
	font-weight: 400;
	font-size: 100%;
	line-height: 1.5rem;
}

/* — — — — — TYPE SIZING — — — — — */ /* ! — ! BI-CLASS IS TEMPORARY, decide whether to use universe class, or byte-size class ! — ! */

.700 {
	font-weight: 700;
}

.400 {
	font-weight: 400;
}

.300 {
	font-weight: 300;
}

.100 {
	font-weight: 100;
}

.multiverse, .yotta {
	font-size: 4.767rem;
	margin: 1.414em 0 0.5em;
	line-height: 1.2;
 }

.universe, .zeta {
	font-size: 3.814rem;
	margin: 1.414em 0 0.5em;
	line-height: 1.2;
}

h1, .galaxy, .exa {
	font-size: 3.998em;
	margin: 1.414em 0 0.5em;
	line-height: 1.2;
}

h2, .starsystem, .peta {
	font-size: 2.827em;
	margin: 1.414em 0 0.5em;
	line-height: 1.2;
}

h3, .star, .tera {
	font-size: 1.999em;
	margin: 1.414em 0 0.5em;
	line-height: 1.2;
}

h4, .planet, .giga {
	font-size: 1.414em;
	margin: 1.414em 0 0.5em;
	line-height: 1.2;
}

h5, .organism, .mega {
	font-size: 1.25rem;
	margin: 1.414em 0 0.5em;
	line-height: 1.2;
}

h6, .cell, .kilo {
	font-size: 1rem;
	margin: 1.414em 0 0.5em;
	line-height: 1.2;
}

small, .atom, .milli {
	font-size: 0.707em;
	margin: 1.414em 0 0.5em;
	line-height: 1.2;
}

.string, .micro {
	font-size: .64rem;
	margin: 1.414em 0 0.5em;
	line-height: 1.2;
}

p {
	font-weight: 300;
	line-height: 1.55;
	margin-bottom: 1.35em;
}

/* — — — — — TYPE-RELATED STYLING — — — — — */

.push {
  margin-bottom: 1.5rem;
}

.push-none, .push-0 {
  margin-bottom: 0;
}

.push-double, .push-2 {
  margin-bottom: 3.0000rem;
}

.push-half, .push-1-2 {
  margin-bottom: 0.7500rem;
}

.pad-top, .pad-t {
  padding-top: 1.5rem;
}

.pad-bottom, .pad-b {
  padding-bottom: 1.5rem;
}

.pad-top-double, .pad-t-2 {
  padding-top: 3.0000rem;
}

.pad-bottom-double, .pad-b-2 {
  padding-bottom: 3.0000rem;
}

.pad-top-half, .pad-t-1-2 {
  padding-top: 0.7500rem;
}

.pad-bottom-half, .pad-b-1-2 {
  padding-bottom: 0.7500rem;
}

.island {
  padding: 1.5rem;
}

.island-half, .island-1-2 {
  padding: 0.7500rem;
}

.island-double, .island-2 {
  padding: 3.0000rem;
}

.gutter {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.gutter-half, .gutter-1-2 {
  padding-left: 0.7500rem;
  padding-right: 0.7500rem;
}

.gutter-double, .gutter-2 {
  padding-left: 3.0000rem;
  padding-right: 3.0000rem;
}

a, a:link {
	text-decoration: none;
	color: #228B22;
	border-bottom: .1em dotted rgba(34,139,34,.55);
}

a:visited {
	color: #2E8B57;
	border-bottom-color: 1em dotted #2E8B57;
}

a:hover {
	color: rgba(34,139,34,.55);
}

a:focus {
	border-bottom: none;
	// outline: 1px dotted #228B22;
	// background-color: rgba(152,251,152,.75);
	color: #fff;
	text-shadow: 1px 1px #228B22;
}

a:active {
	color: #228B22;
	background-color: transparent;
	text-shadow: none;
}

em, dfn {
	font-style: italic;
	font-weight: inherit;
}

strong {
	font-weight: bold;
	font-style: inherit;
}

sub, sup {
	margin: 0;
	padding: 0;
	line-height: 1.2em;
}

mark {
	background-color: rgba(152,251,152,.5);
}

::selection {
	background-color: rgba(152,251,152,.75);
}

::-moz-selection {
	background-color: rgba(152,251,152,.75);
}

del {
	color: #C0C0C0;
}

ins {
	text-decoration: none;
	font-style: italic;
	font-weight: inherit;
}

q {
    display: inline;
}

q:before {
    content: open-quote;
}

q:after {
    content: close-quote;
}

ul, ol {
	width: 100%;
}

ul li {
	display: block;
	list-style-type: none;
	font-weight: 300;
}

ol li {
	font-weight: 300;
	list-style-type: upper-roman;
}

dl {
	width: 100%;
}

dt {
	font-weight: 400;
	text-decoration: none;
}

dd {
	font-style: italic;
	font-weight: 300;
}

.figure {
	display: block;
	margin: 0 auto;
	width: 50%;
}

figure {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

figcaption {
	font-style: italic;
	font-weight: 300;
	font-size: 0.707em;
	background-color: #f5f5f5;
	display: block;
	width: 100%;
	margin: 0;
	padding: 1rem 1rem;
}

figure img {
	width: 100%;
	padding: 0;
	margin: 0;
}

table {
	width: 100%;
	border-collapse:collapse;
	border-spacing: 0;
	margin: 1rem 0;
}

table caption {
	font-weight: 500;
}

th {
	text-decoration: none;
	font-weight: 400;
	font-style: normal;
}

td {
	font-weight: 300;
}

tr {
	border-bottom: 1px dotted #C0C0C0;
}

tr:last-child {
	border-bottom: none;
}

tr:nth-child(even) {
	background-color: rgba(152,251,152,.1);
}
